* {
    border: none;
    border-radius: 0;
    font-family: RobotoMono NerdFont, Roboto, Noto Sans CJK JP, sans-serif;
    font-weight: bold;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: #ffffff;
}

window > box {
    /*margin: 0 0 0 16px;*/
    background: #171717;/*#282a36;*/
    border-bottom: 3px transparent;
    color: white;
}

tooltip {
  color: white;
  background-color: #171717;
  text-shadow: none;
}

#workspaces {
    margin-left: 2px;
    margin-right: 2px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button {
    padding: 0 3px;
    margin: 0px;
    min-width: 0px;
    color: #ffffff;
    background: transparent;
    border-bottom: 3px solid transparent;
    border-top: 2px solid transparent;
}

#workspaces button.focused {
    padding: 0 3px;
    border-bottom: 3px solid #ffffff;
    border-top: 2px solid #171717;
    /*border-radius: 3px;*/
}

#window {
    /*margin: 0 240;*/
}

#mode {
    background: #64727D;
    border-bottom: 3px solid #ffb52a;
}

#window, #clock, #battery, #cpu, #memory, #temperature, #backlight, #network, #pulseaudio, #custom-disk, #custom-weather, #language, #tray, #mode, #idle_inhibitor {
   padding: 0 2px;
    margin: 0 5px;
    background: transparent;
    border-top: 2px solid transparent;
}

#clock {
    border-bottom: 3px solid #ff6e67;
}

#battery {
    border-bottom: 3px solid #ffb52a;
}

#battery.charging {
    /*border-bottom: 3px solid #51e258;*/
    animation-name :blink;
    animation-duration: 1.0s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    0%{
        border-bottom: 3px solid transparent;
    }
    100% {
        border-bottom: 3px solid #ffb52a;
    }
}

@keyframes blinkLow {
    from {
        border-bottom: 3px solid transparent;
    }
    to {
        border-bottom: 3px solid #ff6e67;
    }
}

*#battery.critical:not(.charging) {
    animation-name: blinkLow;
    animation-duration: 0.7s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
    border-bottom: 3px solid #51e258;
}

#memory {
    border-bottom: 3px solid #8ae8fd;
}

#backlight {
    border-bottom: 3px solid #90b1b1;
}

#network {
    border-bottom: 3px solid #eb3e86;
}

#network.disconnected {
    border-bottom: 3px solid #ff676e; /*#ff676e;*/
}

#pulseaudio {
    border-bottom: 3px solid #3f87f6;
}

#pulseaudio.muted {
    border-bottom: 3px solid #bfbfbf;
}

#custom-disk {
    border-bottom: 3px solid #51e258;
}

#custom-weather {
    border-bottom: 3px solid #3f87f6; 
}

#language {
    border-bottom: 3px solid #fbbc01; 
}

#temperature {
    background: #f0932b;
}

#temperature.critical {
    background: #eb4d4b;
}

#tray {
    border-bottom: 3px solid #3f87f6; /* #ff676e; */
}

#idle_inhibitor {
    background-color: #171717;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}
